* @thanet-s

/.github/ @thanet-s
/charts/ @thanet-s
/modules/cloud-provider-inspace/ @thanet-s
/modules/inspace-csi-driver/ @thanet-s
/modules/karpenter-provider-inspace/ @thanet-s
/test/e2e/ @thanet-s
