.env
.env.*
**/*.env
**/*.env.*
!.env.example
**/.git
**/bin
**/dist
**/*.test
**/*.out
**/.DS_Store
**/id_rsa
**/id_rsa.*
**/id_dsa
**/id_dsa.*
**/id_ecdsa
**/id_ecdsa.*
**/id_ed25519
**/id_ed25519.*
**/*.pem
**/*.key
**/*.p12
**/*.pfx
**/__pycache__
**/*.py[cod]
