apiVersion: v1
kind: Service
metadata:
  name: inspace-e2e-node-shared-conflict
  namespace: default
spec:
  type: LoadBalancer
  loadBalancerClass: inspace.cloud/node
  allocateLoadBalancerNodePorts: false
  externalTrafficPolicy: Cluster
  selector:
    app: inspace-e2e-node-lb
  ports:
    - name: http
      port: 80
      targetPort: conflict-target
      protocol: TCP
---
apiVersion: v1
kind: Service
metadata:
  name: inspace-e2e-node-dedicated
  namespace: default
  annotations:
    service.inspace.cloud/node-lb-mode: public-node-dedicated
spec:
  type: LoadBalancer
  loadBalancerClass: inspace.cloud/node
  allocateLoadBalancerNodePorts: false
  externalTrafficPolicy: Cluster
  selector:
    app: inspace-e2e-node-lb
  ports:
    - name: http
      port: 18082
      targetPort: dedicated
      protocol: TCP
