apiVersion: v1
kind: Service
metadata:
  name: inspace-e2e-node-shared-b
  namespace: default
spec:
  type: LoadBalancer
  loadBalancerClass: inspace.cloud/node
  allocateLoadBalancerNodePorts: false
  externalTrafficPolicy: Cluster
  selector:
    app: inspace-e2e-node-lb
  ports:
    - name: http
      port: 18081
      targetPort: shared-b
      protocol: TCP
