apiVersion: apps/v1
kind: Deployment
metadata:
  name: inspace-e2e-trigger
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels: {app: inspace-e2e-trigger}
  template:
    metadata:
      labels: {app: inspace-e2e-trigger}
    spec:
      nodeSelector:
        karpenter.sh/nodepool: {{ e2e_nodepool_name }}
      containers:
        - name: pause
          image: {{ e2e_state.bootstrapCacheRegistry }}/rancher/mirrored-pause:3.10.2@sha256:412c4a7219cb8a299a37337f3d87810c5340095322e15594a1637785adad0f17
          resources:
            requests: {cpu: 100m, memory: 64Mi}
