[defaults]
inventory = inventory.yml
host_key_checking = True
retry_files_enabled = False
interpreter_python = auto_silent
timeout = 20
task_timeout = 7200
stdout_callback = default

[ssh_connection]
pipelining = True
retries = 5
ssh_args = -o IdentitiesOnly=yes -o BatchMode=yes -o ConnectTimeout=10 -o ServerAliveInterval=5 -o ServerAliveCountMax=3
